#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*

**  File Name:        App.css

**

**  Description:      Test for All

**

**    Author:               Bujso

**  Creation Date:  2024-09-03

**

******************************************************************************

**                                                                            **

**                          COPYRIGHT                                         **

**                                                                            **

** (C) Copyright 2024                                                         **

** Cygnus Compliance Consulting, Inc.                                        **

**                                                                            **

** This software is furnished under a license for use only on a single       **

** computer system and may be copied only with the inclusion of the  above    **

** copyright notice. This software or any other copies thereof, may not be **

** provided or otherwise made available to any other person  except for use     **

** on such system and to one who agrees to these license terms. title and   **

** ownership of the software shall at all times remain in                   **

** Cygnus Compliance Consulting, Inc.                                       **

**                                                                            **

** The information in this software is subject to change without notice and **

** should not be construed as a commitment by                                **

** Cygnus Compliance Consulting, Inc.                                       **

******************************************************************************

                                                     

******************************************************************************

                              Maintenance History                         

-------------|----------|----------------------------------------------------

    Date     |  Person  |  Description of Modification                   

-------------|----------|----------------------------------------------------

*/

